<div>
	<form novalidate='' name="formUser">
		<div>
			First Name:
			<input name="firstName" type="text" ng-model="user.firstName" required="true" />
			<span ng-show="formUser.firstName.$error.required && formUser.firstName.$dirty">Required</span>
		</div>
		<div>
			Last Name:
			<input name="lastName" type="text" ng-model="user.lastName" required="true" />
			<span ng-show="formUser.lastName.$error.required && formUser.lastName.$dirty">Required</span>
		</div>
		<div>
			Username:
			<input name="username" type="text" ng-model="user.username" required="true" />
			<span ng-show="formUser.username.$error.required && formUser.username.$dirty">Required</span>
		</div>
		<div>
			Email:
			<input name="email" type="email" ng-model="user.email" required="true" />
			<span ng-show="formUser.email.$error.required && formUser.email.$dirty">Required</span>
			<span ng-show="formUser.email.$error.email && formUser.email.$dirty">Incorrect</span>
		</div>
		<div>
			Password:
			<input name="password" type="password" ng-model="user.password" ng-minlength="6" required="true" />
			<span ng-show="formUser.password.$error.required && formUser.password.$dirty">Required</span>
			<span ng-show="formUser.password.$error.minlength && formUser.password.$dirty">Minimum required</span>
		</div>
		<div>
			Birthday:
			<input name="birthday" type="text" ng-model="user.birthday" />
		</div>
		<div>
			<input type="button" value="Save" ng-click="save()" ng-disabled="formUser.$invalid" />
			<input type="button" value="Cancel" ng-click="cancelUpdate(user)" ng-disabled="formUser.$pristine" />
		</div>
	</form>

	<br />
	<br />

	<div>
		Users:
		<ul>
			<div ng-repeat="user in users">
				<li>{{user.firstName +' '+ user.lastName}}
					<a href="users/{{user.id}}">Details</a>
					<input type="button" value="Delete" ng-click="delete(user)" />
					<input type="button" value="Update" ng-click="update(user)" />
				</li>
			</div>
		</ul>
	</div>
</div>